DATABASE_URL=postgresql://postgres:postgres@localhost:5432/xfetcher
REDIS_URL=redis://localhost:6379
X_SOURCE_ADAPTER=mock
PROXY_SCHEME=http
PROXY_HOST=542cd09n.pr.thordata.net
PROXY_PORT=9999
PROXY_USERNAME=td-customer-demo
PROXY_PASSWORD=replace-me
